@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --white: white;
  --black: black;
  --box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* THE NAVIGATION BAR ICON */
.icon {
  cursor: pointer;
  width: 30px;
  vertical-align: -20%;
  font-size: 1.5rem;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);

  & > img {
    width: 33px;
  }
}

/* THE MAIN NAVIGATION BAR IN CSS */
header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0;
  background-color: #af84c4;
  height: 10vh;
  padding: 17px;
  box-shadow: var(--box-shadow);
  z-index: 99;
  color: var(--white);
  gap: 10px;

  .headerLogo {
    display: flex;
    align-items: center;
    width: 750px;

    .logoName {
      font-size: 1.5em;
    }
  }

  .search-container {
    width: 100%;
    text-align: center;

    .search-bar {
      input {
        border: none;
        border-radius: 50px;
        padding: 9px 15px;
        width: 100%;
      }
    }

    #linkList {
      position: relative;
      margin-top: 10px;
      list-style-type: none;
      display: none;

      li {
        a {
          border: 1px solid #ddd;
          background-color: #f6f6f6;
          padding: 12px;
          text-decoration: none;
          text-align: left;
          display: flex;
          align-items: center;

          img {
            width: 1.5rem;
            margin-right: 1rem;
          }

          &:hover {
            background-color: #f1f1f1;
          }

          &:active {
            background-color: var(--black);
            color: var(--white);
          }
        }
      }
    }
  }

  #sidebar-active,
  label,
  input[type="checkbox"] {
    display: none;
  }

  nav {
    ul {
      list-style-type: none;
      width: 440px;
      display: flex;

      /* THE LINKS IN CSS */
      li {
        display: inline;
        line-height: 1;

        a.link {
          padding: 9px;
          color: var(--white);
          text-transform: uppercase;
          transition: all 0.1s;
          display: block;

          &:hover {
            font-weight: bold;
          }
        }

        &:nth-child(2) a:hover ~ .dropdown-content,
        .dropdown-content:hover {
          display: grid;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: var(--white);
          width: auto;
          box-shadow: var(--box-shadow);
          padding: 7px 10px;
          z-index: 1;
          right: 140px;
          top: 53px;

          li {
            padding: 7px 10px;

            a {
              color: black;
            }
          }
        }
      }
    }
  }
}

.homePage,
.newsletter {
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.homePage {
  .homeContent {
    padding: 4rem;
    text-align: center;
    padding: 10rem 2rem;
    width: auto;

    h2 {
      font-size: clamp(2.5rem, 1.453rem + 3.941vw, 5rem);
      font-weight: bolder;
      color: var(--black);
      text-shadow: var(--box-shadow);
    }

    p {
      line-height: 2;
      margin-bottom: 2rem;
      font-size: 1rem;
    }

    .home-btn {
      height: 8rem;

      button {
        background-color: #c7a4e8;
        color: var(--white);
        border-radius: 0.7rem;
        padding: 0.7rem 2.4rem;
        cursor: pointer;
        border: none;

        &:hover {
          font-size: 1rem;
        }
      }
    }
  }
}

.heading {
  margin: 1.5rem;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    margin-block: 1rem;
  }
}

img {
  width: 100%;
  border-radius: 20px;
}

.box {
  display: table;
  flex-direction: column;
  height: auto;
  background-color: var(--white);
  text-align: center;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 3rem;
  background-color: #f3f3f3;
  margin-bottom: 3rem;
  box-shadow: var(--box-shadow);
}

.product .box {
  height: auto;
}

.row,
.blogs-row {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  margin: 30px;
  display: table-cell;
}

.product,
.blogs,
.review {
  margin: 20px;
}

.responsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin: 5px;

  .product-content {
    height: 220px;
  }
}

.product {
  .row {
    .content {
      margin-bottom: 4rem;
    }

    .product-content {
      h3 {
        font-size: 2rem;
        color: var(--black);
        margin: 10px;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        color: var(--black);
      }

      .orderNow {
        height: 3rem;
        margin-top: 2rem;

        button {
          font-size: 1rem;
          background-color: var(--black);
          color: var(--white);
          border-radius: 0.7rem;
          padding: 0.5rem 2rem;
          cursor: pointer;

          &:hover {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.content {
  padding: 2rem;

  h3 {
    font-size: 2rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
  }

  p {
    font-size: 1rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
  }

  a {
    font-size: 1rem;
    cursor: pointer;
  }

  a:hover {
    color: var(--black);
    text-shadow: var(--box-shadow);
  }
}

.image {
  margin: 10px;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;

  &:hover {
    transform: scale(1.02);
  }
}

form {
  input,
  textarea,
  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin: 15px 0;
    resize: none;
  }

  button {
    cursor: pointer;
    width: 150px;

    &:hover {
      background-color: #c7a4e8;
      color: white;
    }
  }

  a {
    color: #c7a4e8;
  }
}

.newsletter {
  form {
    text-align: center;
    padding: 5rem;

    h3 {
      font-size: 3rem;
      color: var(--white);
    }

    .box1 {
      width: 100%;
      margin: 0.7rem 0;
      padding: 1rem 1.2rem;
      color: var(--black);
      border-radius: 20px;
      border: none;
    }

    .box2 {
      width: auto;
      font-size: 1rem;
      margin-top: 1rem;
      padding: 0.75rem;
      color: var(--black);
      background: var(--white);
      border-radius: 20px;
      cursor: pointer;
      border: none;

      &:hover {
        color: var(--white);
        background-color: var(--black);
        outline: rem solid var(--white);
      }
    }
  }
}

.review {
  .box {
    text-align: center;
    height: 400px;

    .client-review {
      margin-bottom: 3rem;

      p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    .client-info {
      align-items: center;

      .img {
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: center center;
        }
      }
    }

    .clientDetailed {
      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

.swiper-pagination-bullet {
  background-color: var(--black);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--black);
}

/* THE FOOTER SECTION IN CSS */
.footer {
  background-color: var(--black);

  p,
  h1,
  h3,
  a,
  i,
  div {
    color: var(--white);
  }

  .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .mainBox .content {
      align-items: center;
      margin-bottom: 2rem;

      h1 {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.3;
      margin-bottom: 2rem;
    }

    .fbox {
      padding: 1rem;
      line-height: 1;
      text-align: left;

      h3 {
        font-size: clamp(1.5rem, 1.291rem + 0.788vw, 2rem);
        padding: 1rem 0;
      }

      p i + a {
        display: inline;
      }

      a {
        display: block;
        font-size: 1rem;
        padding: 0.5rem 0;
        text-decoration: none;

        i {
          padding-right: 0.5rem;
        }

        .box a:hover i {
          padding-right: 2rem;
        }
      }

      .share {
        text-align: center;

        a {
          height: 2rem;
          width: 2rem;
          font-size: 1rem;
          color: var(--black);
          background: var(--white);
          border-radius: 50%;
          text-align: center;

          &:hover {
            background-color: var(--black);
            color: var(--white);
          }
        }
      }
    }
  }

  .credit {
    margin-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}

aside,
footer {
  width: auto;
  height: auto;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 896px) {
  /* THE HEADER BAR INSIDE THE MEDIA QUERY IN CSS */

  header {
    .logoName {
      padding-left: 10px;
    }

    .headerLogo {
      width: 100%;
    }

    input#search-active:checked ~ .search-container {
      display: block;
    }

    .search-container {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.75);

      input + label {
        display: block;
      }

      .search-bar {
        display: flex;
        padding: 15px;
        align-items: center;
        background-color: #af84c4;
        height: 10vh;

        .close {
          padding-right: 10px;
        }
      }

      #linkList {
        width: 100%;
        margin-top: 0;
      }
    }

    input#sidebar-active:checked ~ nav {
      right: 0;
    }

    label {
      display: block;
    }

    nav {
      position: fixed;
      flex-direction: column;
      height: 100%;
      padding: 20px;
      gap: 5px;
      width: 200px;
      background-color: var(--white);
      top: 0;
      right: -75%;
      transition: 0.5s ease-out;
      z-index: 99;
      box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.1);

      label {
        display: inline;
        color: var(--font-color);
        padding-right: 1px;
        cursor: pointer;
      }

      .close .icon {
        color: var(--black);
      }

      ul {
        flex-direction: column;
        list-style-type: none;
        width: auto;

        li {
          padding: 5px;
          width: auto;

          a.link {
            color: var(--black);
          }

          .dropdown-content {
            position: static;
            box-shadow: none;

            li {
              padding: 7px 10px;
            }
          }
        }
      }
    }
  }

  li .link,
  input,
  label,
  .homeContent {
    display: block;
  }

  .icon {
    margin: 5px;
  }

  .footer .box-container {
    display: block;
    width: 100%;
  }
}
